
@function rem($px){
	@return $px/16px+0rem;
}
@mixin font($size:16px, $color:$black){
	font-size: rem($size);
	color: $color;
}
@mixin inline-block($valign:top){
	display: inline-block;
	vertical-align: $valign;
}

@mixin bg-cover($url) {
	background: url($url) no-repeat center center;
	background-size: cover;
}
@mixin cover($color: #f6f6f6){
	background-color: $color;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}
@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}
/* --------- clearfix mixins --------- */
%clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}
@mixin pseudoContent($content) {
	content: $content;
	display: inline-block;
}
@mixin pseudo ($position: before, $content: "") {

	@if ($position == after) {
		&:after {
			@include pseudoContent($content);
			@content
		}
	}
	@else if ($position == both) {
		&:before, &:after {
			@include pseudoContent($content);
			@content
		}
	}
	@else {
		&:before {
			@include pseudoContent($content);
			@content
		}
	}
}
/* --------- responsive mixins --------- */

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 1170px) {
		@content;
	}
}
@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

//placeholder
@mixin placeholder{
	&::-webkit-input-placeholder{
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin wave($url) {
	@include pseudo(after){
		position: absolute;
		bottom: 0;
		left: 0;
		height: rem(6px);
		width: 100%;
		background: url(#{$url}) repeat-x;
	}
}