//color
$yellow: #FFBB02;

$black: #000;
$white: #fff;
$color-link: #818180;


$fontawesome_path: '../fonts/fontawesome';



//common style
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/smartgrid";
@import "_misc/adjustment";
@import "_misc/font-awesome";

// animation
//@import "_misc/preloader";
//@import "common/hamburger";
@import "common/bg-gradient";


//section
@import "common/header";
@import "common/slider";
@import "common/services";
@import "common/map";
@import "common/footer";

