footer.footer
	.container
		.footer__row
			a(href="#" class="header__logo-link")
				+svg("logo__svg logo__svg_yellow", "logo")
			+nav('footer-nav', "Главная")
			.footer__copyright
				.copyright__text &copy Aйтекс start 2016
				.copyright__info
					a(href="http://itex.ru"	target="_blank").copyright__info-link.
						itexstart.ru

