section.section.product
	.container
		.product__wrap
			+breadcrumbs(2)
			.product__desc
				.product__desc-img
					img(src="assets/img/exc.png"
						alt="excavator"
						class="product__img")
				.product__info
					.product__info-title.
						JCB 4CX Super
					.product__acco
						+acco("Характеристики")
						+acco("Информация")
					.product__info-bottom
						.product__price
							span.product__price-num 150000
							span  Р.
						+btn("Заказать")


