section.section.todo
	.container
		h2.h2.todo__title Заголовок
		.todo-wrap
			ol.todos-container

			.edit__wrap
				.edit__bl
					input(type="text"
					class= "input-task-edit")

					.trigger.trig-check.save-changes
					.trigger.trig-close.close-changes

			input(type="text"
					class="input-task")

			.trigger.trig-check.add-task
			.trigger.trig-close.remove-task



