extends ../_template
block variables
	- var title = 'TEST'
	//- color for mobile browsers
	- var colorBrowser = '#FFBB02'
block content
	include ../common/header
	include ../common/product
	include ../common/services
	include ../common/todo
	include ../common/map_ya
	include ../common/footer





